#List requirements here

## Data processing
numpy==1.23.5
pandas==1.5.3
opencv-python
Pillow
protobuf==3.20.0


# api related things
fastapi         # API framework
uvicorn         # webserver
python-dotenv
requests

# hosting
google-cloud-storage
